#tab{
-fx-color: blue;
}

.black{
  -fx-background-color: #383535;
}

.left{
  -fx-border-style: none solid none none;
  -fx-border-width: 1;
  -fx-border-color: black;
  -fx-border-style: hidden solid hidden hidden;
  -fx-background-color: #383535;
  /* -fx-base: #383535; */
}

.yellow{
  -fx-background-color: #AC6542;
  -fx-base: #AC6542;
}

.text-white{
  -fx-text-fill: white;
}

.beautiful{
  -fx-background-radius: 10;
  -fx-border-width: 1;
  -fx-border-style: solid solid solid solid;
  -fx-text-box-border: black ;
  -fx-focus-color: black ;
  -fx-background-color: -fx-text-box-border, -fx-background ;
  -fx-background-insets: 2;
  -fx-background-radius: 1;
  -fx-border-style: none;
  -fx-focus-color: transparent;
}

.titrePrincipal{
  -fx-background-color:#3474A5;
}

.blueColor{
  -fx-background-color:#3474A5;
}

.button{
  /* -fx-background-color: white; */
  -fx-text-fill: white;
  -fx-border-style: none;
  -fx-border-width: 0;
  -fx-border-insets: 0;
}

.radius{
  -fx-background-radius: 10;
}

.button:active{
  -fx-background-color: #383636;
  -fx-text-fill: white;
}


.button:hover{
  -fx-background-color: #383636;
  -fx-text-fill: white;
  -fx-cursor: hand;
}
